* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#reset-color {
  margin-top: 20px;
  display: grid;
}

#colors-nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 150px));
  height: 100px;
  justify-content: center;
  column-gap: 20px;
  row-gap: 10px;
  margin: 25px;
}

.button {
  border-radius: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  filter: grayscale(50%);
  border: solid;
  border-color: f0fff0;
  transform: scale(1);
  color: #f0fff0;
  cursor: pointer;
}
.button:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
  border-style: solid;
  border-color: #f0fff0;
}

.color-ffffff {
  border: none !important;
}

.color-ffbe0b {
  background-color: #ffbe0b;
}
.color-fb5607 {
  background-color: #fb5607;
}
.color-ff006e {
  background-color: #ff006e;
}
.color-8338ec {
  background-color: #8338ec;
}
.color-3a86ff {
  background-color: #3a86ff;
}
