* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#reset-color {
  margin-top: 20px;
  display: grid;
}

#colors-nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 150px));
  height: 100px;
  justify-content: center;
  column-gap: 20px;
  row-gap: 10px;
  margin: 25px;
}

.button {
  border-radius: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  cursor: pointer;
}
.button:hover {
  border-style: solid;
  border: none;
}

.reset {
  border: none !important;
}

.color-49599b {
  background-color: #49599b;
}
.color-ffa726 {
  background-color: #ffa726;
}
.color-e65100 {
  background-color: #e65100;
}
.color-2e7d32 {
  background-color: #2e7d32;
}
.color-263238 {
  background-color: #263238;
}

#color-accessibility {
  display: grid;
  grid-auto-rows: minmax(100px, auto-fit);
  overflow-x: auto;
}

.scheme {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 825px;
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
